.paging {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  padding: 10px;
  margin: 5px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.listGrid {
  margin-top: 60px;
}

.input {
  text-align: center;
}
